<div class="container mt-5">
  <h2>Create Job Post</h2>
  <hr>
  <form #jobPostForm="ngForm" (ngSubmit)="onSubmit(jobPostForm)">
    <div class="mb-3">
      <label for="position" class="form-label">Position</label>
      <input type="text" class="form-control" id="position" name="position" [(ngModel)]="jobPost.position" required>
    </div>
    <div class="mb-3">
      <label for="company" class="form-label">Company</label>
      <input type="text" class="form-control" id="company" name="company" [(ngModel)]="jobPost.company" required>
    </div>
    <div class="mb-3">
      <label for="type" class="form-label">Type</label>
      <select class="form-select" id="type" name="type" [(ngModel)]="jobPost.type" required>
        <option value="">Choose type</option>
        <option value="Full-time">Full-time</option>
        <option value="Part-time">Part-time</option>
        <option value="Contract">Contract</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea rows="4" cols="50" class="form-control" id="description" name="description" [(ngModel)]="jobPost.description" required></textarea>
    </div>
    <div class="mb-3">
      <label for="qualifications" class="form-label">Qualifications</label>
      <textarea rows="4" cols="50" class="form-control" id="qualifications" name="qualifications" [(ngModel)]="jobPost.qualifications" required></textarea>
    </div>
    <div class="mb-3">
      <label for="salary" class="form-label">Salary</label>
      <input type="text" class="form-control" id="salary" name="salary" [(ngModel)]="jobPost.salary">
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status</label>
      <input type="text" class="form-control" id="status" name="status" [(ngModel)]="jobPost.status" required>
    </div>
    <div class="mb-3">
      <label for="createDate" class="form-label">Create Date</label>
      <input type="date" class="form-control" id="createDate" name="createDate" [(ngModel)]="jobPost.createDate" required>
    </div>
    <div class="mb-3">
      <label for="closingDate" class="form-label">Closing Date</label>
      <input type="date" class="form-control" id="closingDate" name="closingDate" [(ngModel)]="jobPost.closingDate">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
  <ng-container *ngIf="message">
    <h3>{{ message }}</h3>
  </ng-container>
</div>
