<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3 class="card-title">Issue {{ issue.issueID }}</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{ issue.title }}</h5>
      <p class="card-text">{{ issue.issueDetail }}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <strong>Reporter:</strong> {{ issue.userId }}
      </li>
      <li class="list-group-item">
        <strong>Status:</strong> {{ issue.status }}
      </li>
      <li class="list-group-item">
        <strong>Report Date:</strong>
        {{ issue.reportDate | date : "short" }}
      </li>
      <div *ngIf="messages.userMessage">
        <p>User Messages:</p>
        <p>{{messages.userMessage.message}}</p>
      </div>
      <div *ngIf="messages.adminReply">
        <p>Admin Reply:</p>
        <p>{{messages.adminReply.message}} - {{messages.adminReply.postedTime | date}}</p>
      </div>
      
    </ul>
  </div>
</div>
