<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <svg class="bi me-2" width="40" height="32">
        <use xlink:href="#bootstrap"></use>
      </svg>
      HireMe
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="/jobs-posting">Jobs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/register" *ngIf="!loggedIn"> Register </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login" *ngIf="!loggedIn"> Login </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile" *ngIf="loggedIn">
            Your Profile
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/recruiter-dashboard" *ngIf="userRole === 'recruiter'">
            Recruiter Dashboard 
          </a>
        </li>
        <li class="nav-item">
          <a
            class="nav-link user-select-none pe-auto"
            href="#"
            (click)="logout()"
            *ngIf="loggedIn"
          >
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
