<div class="container mt-5">
  <h1>Admin Dashboard</h1>

  <div class="mb-3">
    <label for="total-users" class="form-label">Total Users:</label>
    <span id="total-users">{{ totalUsers }}</span>
  </div>

  <div class="mb-3">
    <form (ngSubmit)="approveRecruiter()" #recruiterForm="ngForm">
      <label for="recruiter-select" class="form-label"
        >Approve new Recruiter account:</label
      >
      <select
        class="form-select"
        id="recruiter-select"
        name="recruiter-select"
        [(ngModel)]="selectedRecruiter"
      >
        <option
          *ngFor="let recruiter of unapprovedRecruiters"
          [value]="recruiter.userId"
        >
          {{ recruiter.company }} - {{ recruiter.email }}
        </option>
      </select>
      <button type="submit" class="btn btn-primary mt-2">Approve</button>
    </form>
  </div>

  <app-issue-list></app-issue-list>
  <div class="mb-3">
    <form (ngSubmit)="createJobHuntingTip()" #tipForm="ngForm">
      <h2>Create Job Hunting Tips</h2>
      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="title"
          [(ngModel)]="tip.title"
          required
        />
      </div>
      <div class="mb-3">
        <label for="body" class="form-label">Body:</label>
        <textarea
          class="form-control"
          id="body"
          name="body"
          [(ngModel)]="tip.body"
          required
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
    </form>
  </div>
</div>
