<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card text-black">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Log In</h2>
          <p class="text-center mb-3" [ngClass]="{'text-danger': cautionObj.class === 'alert alert-danger', 'text-success': cautionObj.class === 'alert alert-success'}">{{ cautionObj.message }}</p>
          <form (submit)="login()" #loginForm="ngForm">
            <div class="mb-3">
              <label for="email" class="form-label">Email address</label>
              <input
                type="email"
                class="form-control"
                id="email"
                [(ngModel)]="loginInfo.email"
                name="email"
                required
              />
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                class="form-control"
                id="password"
                [(ngModel)]="loginInfo.password"
                name="password"
                required
              />
            </div>
            <button type="submit" class="btn btn-danger w-100">Log In</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
