.container {
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8c8c8c;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #8c8c8c;
  }
  
  .form-select {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #8c8c8c;
    border-radius: 0px;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .form-select:focus {
    box-shadow: none;
    border-color: #8c8c8c;
  }
  
  .btn-primary {
    background-color: #e50914;
    border: none;
    border-radius: 0px;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .btn-primary:hover {
    background-color: #e50914;
    border: none;
    border-radius: 0px;
  }
  
  p {
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
    text-align: center;
  }
  