<div class="container mt-5">
  <h1>Admin Login</h1>
  <p ngClass="{{ messageObj.class }}">{{ messageObj.message }}</p>
  <form #adminLoginForm="ngForm" (ngSubmit)="onSubmit(adminLoginForm)">
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        required
        [(ngModel)]="email"
      />
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        required
        [(ngModel)]="password"
      />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
